body{
font-family: 'Manrope', sans-serif;
font-weight: 400;
color: #121212;
font-size: 20px;
line-height: 27.32px;
background-color:#F5F5F5; 
}

a{
text-decoration: none;
color: inherit;
}


h1{
font-weight: 400;
font-size: 60px;
line-height: 60px;
position: absolute;
color: #121212;
}

.container{
max-width: 1150px;
margin: 0 auto; 
padding: 0 15px;}
  
.nav{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row-reverse;
    }
.menu{
display: flex;
}
header{
background-color: #F5F5F5;
padding: 33px 0 0;
color: #121212;
    
}

.menu-item{
padding-right: 60px;
}
.menu-link{
font-size: 18px;
line-height: 24.59px;
}

ul{
margin: 0; 
padding: 0;  
list-style: none;
}

.headline{
padding: 70px 0px 30px;
}
.title{
margin-bottom: 128px 320px 30px 125px;
position: absolute;
text-align: left;
font-weight: 400;
font-size: 60px;
line-height: 60px;

}
.headline-img{
padding-top: 150px;
}

.container2{
max-width: 1150px;
margin: 0 auto; 
padding: 0 15px;
position: relative;
}
h2{
position: absolute;
bottom: 40px;
left: 40px;
color: #FFFFFF;
font-size: 20px;}

.new{
padding-top: 130px;
}

h3{
padding-bottom: 30px;
font-size: 18px;
}

.about-us{
max-width: 1150px;
margin: 0 auto;
padding: 0 5px;
font-weight: 400px;
font-size: 45px;
line-height: 62px;
}
.headline-btn{
display: inline-block;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
background-color: #AD1818;
padding: 20px 40px 20px 40px;
border-radius: 5px;
margin-top: 30px;
}
.headline-btn:hover{
text-decoration: none;
color:#AD1818;
background-color:#F5F5F5;
box-shadow: 0 0 3px 0 #AD1818; 
border-bottom: 1px solid #AD1818;
}
.menu-link:hover {
opacity: 0.5;
text-decoration: none;
border-bottom: 1px solid;
}
.projects{
padding-top: 170px;
padding-bottom: 30px;
line-height: 24px;
font-size: 18px;
color:#121212;
}
.project-1-text{
font-size: 30px;
line-height: 40.98px;  
font-weight: 400;
padding-top: 15px;
padding-bottom: 15px;
}
.project-1btn{
color: #AD1818;
font-size: 20px;
line-height: 27.32px;
}
.project-1btn:hover{
text-decoration: none;
border-bottom: 1px solid #AD1818;

}
.project-2img{
padding-top: 90px;
}
.project-2-text{
font-size: 30px;
line-height: 40.98px;  
font-weight: 400;
padding-top: 15px;
padding-bottom: 15px;
}
.project-2btn{
color: #AD1818;
font-size: 20px;
line-height: 27.32px;    
}
.project-2btn:hover{
text-decoration: none;
border-bottom: 1px solid #AD1818;
 }
.project-3img{
padding-top: 90px;   
}
.project-3-text{
font-size: 30px;
line-height: 40.98px;  
font-weight: 400;
padding-top: 15px;
padding-bottom: 15px;
}
.project-3btn{
color: #AD1818;
font-size: 20px;
line-height: 27.32px;     
}
.project-3btn:hover{
text-decoration: none;
border-bottom: 1px solid #AD1818;
}
.all-projects{
display:block;
margin-top: 90px;
width: 1150px;
height: 153px;
border-radius: 5px;
border: 1px solid#AD1818;
background-color: #F5F5F5;
font-size: 30px;
color: #AD1818;
line-height: 40.98px;
cursor:pointer;
margin-bottom: 150px;
}
.all-projects:hover{
background-color: #AD1818;
color:#F5F5F5;
}
.middle{
background-color: #121212;
}
.middle-text{
display: flex;   
align-items: center;
padding-top: 1844px;
justify-content: space-between;
}

